:root {
    --bg-color: #1a1a1a;
    --text-color: #fff;
    --h1-shadow-color: rgba(255,255,255,0.5);
    --bg-pattern-color: rgba(255,255,255,0.1);
}

body.light-mode {
    --bg-color: #f0f2f5;
    --text-color: #333;
    --h1-shadow-color: rgba(0,0,0,0.2);
    --bg-pattern-color: rgba(0,0,0,0.05);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    background-image: repeating-radial-gradient(circle at center, var(--bg-pattern-color) 0, var(--bg-pattern-color) 1px, transparent 1px, transparent 100%);
    background-size: 0.5em 0.5em;
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
    text-shadow: 0 0 10px var(--h1-shadow-color), 0 0 20px var(--h1-shadow-color);
}